In [2]:
!pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector-python
  Using cached mysql_connector_python-8.1.0-cp310-cp310-manylinux_2_17_x86_64.whl (27.5 MB)
Collecting protobuf<=4.21.12,>=4.21.1
  Using cached protobuf-4.21.12-cp37-abi3-manylinux2014_x86_64.whl (409 kB)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.1.0 protobuf-4.21.12

In [10]:
import mysql.connector
import pandas as pd

In [11]:
db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="Helloworld@123",
    database="bab"
)

cursor = db.cursor()

In [9]:
cursor.reset()
result = cursor.execute("select * from BURGER")

In [18]:
df = pd.read_sql("select * from BURGER", con=db)

/home/blackbird/.local/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [19]:
df

   burgerId   name   size
0         1   SWAT  small
1         2  SWATy  small

In [21]:
#Rename Column names
cursor.execute("alter table BURGER rename column burgerId to BurgerId")

In [28]:
cursor.reset()
df = pd.read_sql("show tables;", con=db)

/home/blackbird/.local/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [29]:
df

Empty DataFrame
Columns: [Tables_in_bab]
Index: []

In [27]:
cursor.execute("drop table BURGER, gfg")

In [30]:
# Data modelling

# Organize business problems into different tables and visualise
# Data scientist - Model for prediction
# Relational Data model - simple querying and relationship between tables
# RDBM - Entities, characteristics, relationship